venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
build/
dist/
.eggs/
*.egg-info/
*.egg
pip-log.txt
pip-delete-this-directory.txt
*.sqlite3
.DS_Store
.idea/
*.log 
temp_auto_push.bat
temp_interactive_push.bat
.gitignore
